@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model BlogTravel.ViewModels.DashboardViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mb-5 text-center">
    <h3 class="fw-normal">Създай блог за:</h3>
    <a type="button" class="btn btn-success m-2" asp-area="" asp-controller="Holiday" asp-action="Create">Почивка</a>
    <a type="button" class="btn btn-success" asp-area="" asp-controller="Adventure" asp-action="Create">Приключение</a>
</div>
@* 
<div class="album py-5 bg-light">
    <div class="container">
        <h2 class="display-5 fw-normal mb-4">Твоите приключения</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            @foreach (var item in Model.Adventures)
            {
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src="@item.Image" alt="Image of @item.Title" style="height: 225px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @{
                                    string description = item.Description;
                                    if (description.Length > 100)
                                    {
                                        description = description.Substring(0, 100) + "...";
                                    }
                                }
                                @description
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Adventure" asp-action="Detail" asp-route-id="@item.Id">Прочети</a>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Adventure" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                                    <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Adventure" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                                }
                            </div>
                            <small class="text-muted">@item.AdventureCategory</small>
                        </div>
                    </div>
                </div>
            }
        </div>

        <h2 class="display-5 fw-normal mb-4 mt-5">Твоите почивки</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            @foreach (var item in Model.Holidays)
            {
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" src="@item.Image" alt="Image of @item.Title" style="height: 225px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">
                                @{
                                    string description = item.Description;
                                    if (description.Length > 100)
                                    {
                                        description = description.Substring(0, 100) + "...";
                                    }
                                }
                                @description
                            </p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Holiday" asp-action="Detail" asp-route-id="@item.Id">Прочети</a>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Holiday" asp-action="Edit" asp-route-id="@item.Id">Редактирай</a>
                                    <a type="button" class="btn btn-outline-secondary btn-sm" asp-controller="Holiday" asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                                }
                            </div>
                            <small class="text-muted">@item.HolidayCategory</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div> *@
